.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-bottom: 1px solid #f472b6; 
    color: white;
    height: 55px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  .logo-img {
    width: 80px;  
    height: 80px;
    object-fit: contain; 
  }
  
  .nav {
    display: flex;
    gap: 2rem;
    font-weight: 600;
    padding-right: 50px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f472b6; /* hover pink */
  }
  
  .nav-link.active {
    color: #f472b6; /* pink for active link */
  }
  